<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/ESPREAT/View/Front/assets/css/cart.css" />
    <link rel="stylesheet" href="/ESPREAT/View/Front/assets/css/foodhut.css" />
    <title>Menu</title>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <form onsubmit="return confirmOrder(), false" method="post">
        <span class="textarea"
          ><p class="checkout-text" id="checkout-p"></p
        ></span>
        <div class="label-div">
          <label class="input-label-name">Identifiant</label>
        </div>
        <input type="text" class="text-input" required />
        <div class="label-div">
          <label class="input-label-phone">Bloc</label>
        </div>
        <input
          id="adress-input"
          type="tel"
          class="tel-input"
          name="phone"
          pattern="[A-M]{,1}"
          required
        />
        <input type="submit" value="CONFIRM" class="confirm-btn" />
      </form>
      <span class="confirm-span"><p class="confirm-p" id="confirm-p"></p></span>
    </div>
    <!-- Navbar -->
    <main class="main-cart">
      <div class="header-cart">
        <nav
          class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top"
          data-spy="affix"
          data-offset-top="10"
        >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#gallary">Gallary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#book-table">Collection Point</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="commander.html">Order</a>
              </li>
            </ul>
            <a class="navbar-brand m-auto" href="#">
              <img src="assets/imgs/logo.png" class="brand-img" alt="" />
              <span class="brand-txt">ESPREAT</span>
            </a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:openNav();"
                  >Cart<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blog"
                  >Hits<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testmonial">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a
                  href="/ESPREAT/View/Back/index.html"
                  class="btn btn-primary ml-xl-4"
                  >Login</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="mainContent">
        <div class="title-container">
          <p class="title-style">
            <a href="javascript:menuChange(0);">Appetizers</a>
          </p>
        </div>
        <div class="title-container">
          <p class="title-style">
            <a href="javascript:menuChange(1);">Salads</a>
          </p>
        </div>
        <div class="title-container">
          <p class="title-style">
            <a href="javascript:menuChange(2);">Main Course</a>
          </p>
        </div>
        <div class="title-container">
          <p class="title-style">
            <a href="javascript:menuChange(3);">Desserts</a>
          </p>
        </div>
        <div class="title-container">
          <p class="title-style">
            <a href="javascript:menuChange(4);">Drinks</a>
          </p>
        </div>
        <div class="menu-container">
          <div class="item-container">
            <table class="itemTable">
              <tr onmouseover="imageHover('image1')">
                <td class="itemTd">
                  <p class="itemStyle" id="food1">Falafel</p>
                </td>
                <td class="numberTd">
                  <p class="numberContainer">
                    <input
                      type="number"
                      id="number1"
                      min="0"
                      max="9"
                      value="0"
                      onchange="priceChange('0','number1')"
                    />
                  </p>
                </td>
                <td class="priceTd">
                  <p class="priceStyle" id="price1">10dt</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="item-container">
            <table class="itemTable">
              <tr onmouseover="imageHover('image2')">
                <td class="itemTd">
                  <p class="itemStyle" id="food2">Brik Tunisien</p>
                </td>
                <td class="numberTd">
                  <p class="numberContainer">
                    <input
                      type="number"
                      id="number2"
                      min="0"
                      max="9"
                      value="0"
                      onchange="priceChange('1','number2')"
                    />
                  </p>
                </td>
                <td class="priceTd">
                  <p class="priceStyle" id="price2">7dt</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="item-container">
            <table class="itemTable">
              <tr onmouseover="imageHover('image3')">
                <td class="itemTd">
                  <p class="itemStyle" id="food3">Crostini</p>
                </td>
                <td class="numberTd">
                  <p class="numberContainer">
                    <input
                      type="number"
                      id="number3"
                      min="0"
                      max="9"
                      value="0"
                      onchange="priceChange('2','number3')"
                    />
                  </p>
                </td>
                <td class="priceTd">
                  <p class="priceStyle" id="price3">6dt</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="item-container">
            <table class="itemTable">
              <tr onmouseover="imageHover('image4')">
                <td class="itemTd">
                  <p class="itemStyle" id="food4">Avocado Toast</p>
                </td>
                <td class="numberTd">
                  <p class="numberContainer">
                    <input
                      type="number"
                      id="number4"
                      min="0"
                      max="9"
                      value="0"
                      onchange="priceChange('3','number4')"
                    />
                  </p>
                </td>
                <td class="priceTd">
                  <p class="priceStyle" id="price4">10dt</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="item-container">
            <table class="itemTable">
              <tr onmouseover="imageHover('image5')">
                <td class="itemTd">
                  <p class="itemStyle" id="food5">Miso Ramen</p>
                </td>
                <td class="numberTd">
                  <p class="numberContainer">
                    <input
                      type="number"
                      id="number5"
                      min="0"
                      max="9"
                      value="0"
                      onchange="priceChange('4','number5')"
                    />
                  </p>
                </td>
                <td class="priceTd">
                  <p class="priceStyle" id="price5">12dt</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="item-container">
            <table class="itemTable">
              <tr onmouseover="imageHover('image6')">
                <td class="itemTd">
                  <p class="itemStyle" id="food6">Mozzarella Sticks</p>
                </td>
                <td class="numberTd">
                  <p class="numberContainer">
                    <input
                      type="number"
                      id="number6"
                      min="0"
                      max="9"
                      value="0"
                      onchange="priceChange('5','number6')"
                    />
                  </p>
                </td>
                <td class="priceTd">
                  <p class="priceStyle" id="price6">12dt</p>
                </td>
              </tr>
            </table>
          </div>
          <div class="total-container">
            <table class="total-table">
              <tr class="total-tr">
                <td class="total-td1"><p class="totalStyle">Total:</p></td>
                <td class="total-td2">
                  <p class="totalStyle" id="total">0 dt</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="image-container">
          <div class="image-box">
            <img
              src="/ESPREAT/View/Front/assets/imgs/app/image1.jpg"
              class="food-image"
              id="image"
            />
          </div>
        </div>
      </div>
    </main>
    <script src="/ESPREAT/View/Front/assets/js/foodhut.js"></script>
  </body>
</html>
