.orders .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.orders .box-container .box {
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.orders .box-container .box p {
  line-height: 1.5;
  font-size: 2rem;
  color: var(--light-color);
  margin: 1rem 0;
}

.orders .box-container .box p span {
  color: var(--main-color);
}

.orders .box-container .select {
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: var(--light-bg);
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  border: var(--border);
}
